@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Libre Baskerville", serif;
}
:root {
    --lead: #212121;
    --gold: #f2bd12;
    --eye: #fffdf7;
    --hint: #fcf1cc;
    --white: #fff;
    --primary: "Roboto Condensed", sans-serif;
    --secondary: "Libre Baskerville", serif;
}

body {
    background-color: var(--eye);
}


a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


li {
    list-style: none;
}

.between {
    justify-content: space-between;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
    text-align: center;
}
.p-top {
    padding-top: 10rem;
}

.test-center {
    text-align: center;
}


.mt-4 {
    margin-top: 4rem;
}

.mt-one-half {
    margin-top: .5rem;
}

.m-auto {
    margin: auto;
}

.mt-one-half {
    margin-top: 1.5rem;
}
 
.navbar {
    min-height: 14vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold);
}

.btn {
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.257) 0 2px 1px;
    transition: .3d ease-in-out;
}

.btn:hover {
    background: var(--lead);

}

.cart-icon {
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}

.hamburger {
    font-size: 1.5rem;
    display: none;
}

.mobile-menu {
    display: none;
}

/*section*/
.hero-section {
    min-height: calc(100vh -14vh);
}

.content,
.img-container,
.service-card {
    flex: 1;
    flex-basis: 300px;
}

h1 {
    font-size: 5.6vw;
    color: var(--lead);

}

h1 span {
    color: var(--gold);
}

p {
    font-size: 1rem;
    cursor: grey;
    line-height: 1.8rem;
    font-weight: 400;
}

.para {
    margin-top: 2rem;
    margin-block: 2rem;
    max-width: 550px;
}
.social-icon {
    background: var(--hint);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.257) 0 2px 1px;
    transition: .3s ease-in-out;
    margin-top: 1rem;
}

.social-icon:hover {
    background: var(--lead);
    color: var(--white);
}